
// if running jobs locally change these to match system capabilities
profiles {

    // "standard" is the profile used when the steps of the workflow are run
    // locally on your computer. These parameters should be changed to match
    // your system resources (that you are willing to devote to running
    // workflow jobs).
    standard {
        params.max_memory = '30.GB'
        params.max_cpus = 16
        params.max_time = '24.h'
        executor.queueSize = 4

        params.mzml_cache_directory = '/home/ajm/nextflow/nf-skyline-dia-ms_tests/mzml_cache'
        params.panorama_cache_directory = '/home/ajm/nextflow/nf-skyline-dia-ms_tests/panorama_cache'
    }

    aptainer {
        docker.enabled = false          // disable docker
        apptainer.enabled = true        // enable apptainer

        params.max_memory = '30.GB'
        params.max_cpus = 16
        params.max_time = '24.h'
        executor.queueSize = 4

        params.mzml_cache_directory = '/home/ajm/nextflow/nf-skyline-dia-ms_tests/mzml_cache'
        params.panorama_cache_directory = '/home/ajm/nextflow/nf-skyline-dia-ms_tests/panorama_cache'
    }
}
