
params {

    pdc.study_id = 'PDC000504'
    pdc.n_raw_files = 2
    pdc.gene_level_data = '/home/ajm/analysis/pdc_000504/tables/idmapping_with_hash_2024_02_06.tsv'

	// spectral library used for searching
    // spectral_library = '/home/ajm/nextflow/dbase/uniprot_human_jan2021_yeastENO1_subset-z3_nce33-prosit.dlib'

	// the background FASTA file
    fasta = '/home/ajm/nextflow/dbase/uniprot_human_jan2021_yeastENO1_subset.fasta'

    // search_engine = 'encyclopedia'
    search_engine = 'diann'

	// options for msconvert
    msconvert.do_demultiplex = false;          // whether or not to demultiplex with msconvert
    msconvert.do_simasspectra = true;         // whether or not to do simAsSpectra with msconvert

    msconvert.mz_shift_ppm = null

    qc_report.skip = false
    qc_report.normalization_method = 'median'
    qc_report.export_tables = false

    // Minimize Skyline document?
    skyline.minimize = false
    skyline.group_by_gene = true
    skyline.protein_parsimony = true

    skyline.use_hardlinks = true
}

includeConfig '/home/ajm/nextflow/nf-skyline-dia-ms_tests/global_test.config'
