//
// A sample pipeline.config for running the TEI-REX DIA Nextflow workflow.
//
// See https://nf-teirex-dia.readthedocs.io/en/latest/workflow_options.html
// for a complete description of all parameters.
//
// Send questions, comments, ideas, bug reports, etc, to:
// Michael Riffle <mriffle@uw.edu>
//

// params will need changed per workflow run
params {

    // the data to be processed.

	// note: files and directorys may specify a local file or a PanoramaWeb WebDAV directory/file
	// Example local file:
	//    spectral_library = '/path/to/file.dlib'
	//
	// Example PanoramaWeb WebDAV location:
	//    spectral_library = 'https://panoramaweb.org/_webdav/DIRECTORY/RawFiles/file.dlib'

    pdc.study_id = 'PDC000504'
    pdc.n_raw_files = 2
    pdc.gene_level_data = '/home/ajm/analysis/pdc_000504/tables/gene_report.tsv'

	// spectral library used for searching
    spectral_library = '/home/ajm/nextflow/dbase/uniprot_human_jan2021_yeastENO1_subset-z3_nce33-prosit.dlib'

	// the background FASTA file
    fasta = '/home/ajm/nextflow/dbase/uniprot_human_jan2021_yeastENO1_subset.fasta'

    search_engine = 'encyclopedia'
    // search_engine = 'diann'

	// options for msconvert
    msconvert.do_demultiplex = false;          // whether or not to demultiplex with msconvert
    msconvert.do_simasspectra = true;         // whether or not to do simAsSpectra with msconvert

    // default parameters for Encyclopedia searches, can be overridden
    encyclopedia.chromatogram.params    = '-enableAdvancedOptions -v2scoring'
    encyclopedia.quant.params           = '-enableAdvancedOptions -v2scoring'

    // whether or not to save the output from encyclopedia running on individual raw/mzML
    // files (e.g. .dia or .features.txt files) to the results directory
    // the generated chromatogram library (elib) will always be saved, regardless of this setting
    encyclopedia.save_output            = false

    // replicate_metadata = '/home/ajm/nextflow/subset_dilution_curve/metadata.tsv'
    qc_report.skip = true
    // qc_report.normalization_method = 'median'
    // qc_report.standard_proteins = ['iRT']
    // qc_report.color_vars = ['cellLine']
    qc_report.export_tables = false

    // Minimize Skyline document?
    skyline.minimize = true
    skyline.group_by_gene = false
    skyline.protein_parsimony = true

    skyline.use_hardlinks = true

    // skyline_document_name = 'document'
    //skip_skyline = true
}


includeConfig '/home/ajm/nextflow/nf-skyline-dia-ms_tests/global_test.config'
includeConfig '/home/ajm/nextflow/nf-skyline-dia-ms_tests/process_test.config'
