
params {

	// the data to be quantified (e.g., wide window data)
    quant_spectra_dir = 'https://panoramaweb.org/_webdav/MacCoss/Aaron/subset_mzML_files/%40files/RawFiles/wide/'

	// which files in this directory to use, default: all raw files
	// quant_spectra_glob = '*A02_27.raw'
	quant_spectra_glob = '*.raw'

	// Optional: the data to be used to generate a chromatogram library (elib)
	// if missing the chromatogram library step will be skipped
    // chromatogram_library_spectra_dir = 'https://panoramaweb.org/_webdav/MacCoss/Aaron/P100_tryptic_analysis/%40files/narrow/raw/'

	// which files in this directory to use, default: all raw files
	// chromatogram_library_spectra_glob = '*.raw'

	// spectral library used for searching
    spectral_library = '/home/ajm/nextflow/dbase/uniprot_human_jan2021_yeastENO1_subset-z3_nce33-prosit.dlib'

	// the background FASTA file
    fasta = '/home/ajm/nextflow/dbase/uniprot_human_jan2021_yeastENO1_subset.fasta'

    // search_engine = 'encyclopedia'
    search_engine = 'diann'

	// options for msconvert
    msconvert.do_demultiplex = true;          // whether or not to demultiplex with msconvert
    msconvert.do_simasspectra = true;         // whether or not to do simAsSpectra with msconvert

    // replicate_metadata = '/home/ajm/nextflow/subset_dilution_curve/metadata.tsv'

    qc_report.skip = false
    qc_report.normalization_method = 'median'
    // qc_report.standard_proteins = ['sp|P00924|ENO1_YEAST']
    // qc_report.color_vars = ['cellLine']
    qc_report.export_tables = false

    // Minimize Skyline document?
    skyline.minimize = true
    skyline.group_by_gene = false
    skyline.protein_parisimony = true

    skyline.skyr_file = ['https://panoramaweb.org/_webdav/MacCoss/Aaron/cromwell_tests/example_batch_correction_files/%40files/replicate_quality.skyr',
                         'https://panoramaweb.org/_webdav/MacCoss/Aaron/cromwell_tests/example_batch_correction_files/%40files/precursor_quality.skyr']


    skyline.use_hardlinks = true

}

includeConfig '/home/ajm/nextflow/nf-skyline-dia-ms_tests/global_test.config'
