//
// A sample pipeline.config for running the TEI-REX DIA Nextflow workflow.
//
// See https://nf-teirex-dia.readthedocs.io/en/latest/workflow_options.html
// for a complete description of all parameters.
//
// Send questions, comments, ideas, bug reports, etc, to:
// Michael Riffle <mriffle@uw.edu>
//

// params will need changed per workflow run
params {

    // carafe {
    //     spectra_file = "https://panoramaweb.org/_webdav/ICPC/NCI-7%20Joint%20Project/NCI-7%20Data%20Harmonization/LFQ-Analyses/USA-UW/%40files/RawFiles/S-Trap/10Jan2022-Lumos-NCI-7-Repeat-S-trap-DIA-ind-8mz-ovlp-400to1000-ICR05-7-pool-02.mzML"
    // }

	// the data to be quantified (e.g., wide window data)
    quant_spectra_dir = ['SP3': 'https://panoramaweb.org/_webdav/ICPC/NCI-7%20Joint%20Project/NCI-7%20Data%20Harmonization/LFQ-Analyses/USA-UW/%40files/RawFiles/SP3/',
                         'Strap': 'https://panoramaweb.org/_webdav/ICPC/NCI-7%20Joint%20Project/NCI-7%20Data%20Harmonization/LFQ-Analyses/USA-UW/%40files/RawFiles/S-Trap/']

    chromatogram_library_spectra_dir = ['https://panoramaweb.org/_webdav/ICPC/NCI-7%20Joint%20Project/NCI-7%20Data%20Harmonization/LFQ-Analyses/USA-UW/%40files/RawFiles/S-Trap/',
                                        'https://panoramaweb.org/_webdav/ICPC/NCI-7%20Joint%20Project/NCI-7%20Data%20Harmonization/LFQ-Analyses/USA-UW/%40files/RawFiles/SP3/']

    chromatogram_library_spectra_glob = "*8mz-ovlp-400to1000-*-7-pool-*.mzML"

	// which files in this directory to use, default: all raw files
	quant_spectra_glob = "*8mz-ovlp-400to1000-*-pool-*.mzML"

    images.diann = "quay.io/mauraisa/diann:I_agree_to_the_DiaNN_2.1.0_license"

    // files_per_quant_batch = 2

	// spectral library used for searching
    spectral_library = '/home/ajm/nextflow/dbase/uniprot_human_jan2021_yeastENO1_subset.predicted.speclib'
    // spectral_library = 'https://panoramaweb.org/_webdav/MacCoss/Aaron/cromwell_tests/PDC_study_test_small/%40files/dbase/uniprot_human_25apr2019.z3_nce.dlib'

	// the background FASTA file
    fasta = '/home/ajm/nextflow/dbase/uniprot_human_jan2021_yeastENO1_subset.fasta'

    // search_engine = 'encyclopedia'
    search_engine = 'diann'

	// options for msconvert
    msconvert.do_demultiplex = true;          // whether or not to demultiplex with msconvert
    msconvert.do_simasspectra = true;         // whether or not to do simAsSpectra with msconvert

    // default parameters for Encyclopedia searches, can be overridden
    encyclopedia.chromatogram.params    = null
    encyclopedia.quant.params           = null

    // whether or not to save the output from encyclopedia running on individual raw/mzML
    // files (e.g. .dia or .features.txt files) to the results directory
    // the generated chromatogram library (elib) will always be saved, regardless of this setting
    encyclopedia.save_output            = false

    replicate_metadata = '/home/ajm/code/DIA_QC_report/tests/data/metadata/Sp3_Strap_combined_metadata.tsv'
    qc_report.skip = false
    // qc_report.normalization_method = 'median'
    // qc_report.standard_proteins = ['iRT']
    qc_report.color_vars = ['cellLine']
    qc_report.export_tables = false

    batch_report.skip = false

    // Minimize Skyline document?
    skyline.minimize = false
    skyline.group_by_gene = true
    skyline.protein_parsimony = true
    skyline.document_name = 'US_UW'
    skyline.use_hardlinks = true

    skyline.skyr_file = 'https://raw.githubusercontent.com/ajmaurais/DIA_QC_report/master/resources/replicate_quality.skyr'

    skyline.skip = false

    panorama.upload = true
    panorama.upload_url = 'https://panoramaweb.org/_webdav/MacCoss/Aaron/nextflow_tests/diann_upload/%40files/'
    panorama.import_skyline = true
}

includeConfig '/home/ajm/nextflow/nf-skyline-dia-ms_tests/global_test.config'
includeConfig '/home/ajm/nextflow/nf-skyline-dia-ms_tests/process_test.config'
